<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>The WebApp</h2>
        <p>Weather App with node js, It use the API'S from mapbox.com and openweathermap.org</p>

        <h2>Me</h2>
        <img class="portrait" src="./images/baby-yoda.jpg">
        <p>
            <a href="https://github.com/fernandezniko" target="_blank">GitHub</a>
        </p>
        <p>
            <a href="https://linkedin.com/in/nicolas-fernandez1311" target="_blank">Linkedin</a>
        </p>

    </div>

    {{>footer}}
</body>

</html>